*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
}
.card{
    width: 100%;
    max-width: 400px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    color: #fff;
    margin: 50px auto;
    text-align: center;
}
.search{
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.search input{
    width: 80%;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #ebfffc;
    color: #333;
    height: 60px;
    border-radius: 30px;
    flex:1 ;
    margin-right: 16px;
    font-size: 18px;

}
.search button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #ebfffc;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search button:hover{
    background-color: #d4f7f0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    font-size: 20px;
    width: 16px;
    height: 16px;
}
.weather-icon{
    width: 100px;
    height: 100px;
    margin-top: 20px;

}
.weather h1{
    font-size: 48px;
    margin-top: 20px;
    font-weight: 500px;

}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    padding: 0 20px;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.col img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.humidity, .wind{
    
    margin-top: -6px;
    font-size: 28px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    display: none;
}